*{
    margin: 0;
    box-sizing: border-box;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    text-emphasis-color:black ;
}

/* Header Section */
header {
    width: 100%;
    padding: 10px;
    background-color: salmon;
}

/* nav bar */
nav{
    display: flex;
    margin: auto;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
}

li{
    margin-right: 2vw;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;

}
.hero{
    position: relative;
    text-align: center;
    color:whitesmoke
}
main{
    padding: 5px;
    margin-left:2vw;
    margin-right: 2vw;
    
}
.title{
    position: absolute;
    top:50%;
    left:45%;

}

#aboutme h2{
    text-align:center;
    padding-bottom: 5%;
}
.about-content{
    display: flex;
    justify-content:center;
    gap: 25px;
    margin-top: 3vh;
    line-height: 2;
    font-size: 1.5rem;
}
#work h2{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}

.work-content{
    display: grid;
    justify-content:space-around;
    grid-gap: 6rem;
    grid-template-columns: 150px 150px ;
    padding-bottom: 20px;
}
#one {
    width: 200px;
    height: 130px;
    margin-left: 30px;
    margin: 0%;
    padding:10px;
   }
   
   #two  {
    width: 200px;
    height: 130px;
    margin-left: 15px;
    margin:5px;
    padding:10px;
   }
   
   #three {
    width: 200px;
    height: 130px;
    margin-left: 15px;
    margin:5px;
    padding:10px;
   }
   
   #four {
    width: 200px;
    height: 130px;
    margin-left: 15px;
    margin:5px;
    padding:10px;
   }
   #resume h2{
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
   }
   .resume-content{
    display: flex;
    justify-content: center;
    margin-left: 405px;
    width: 600px;
    height: 400px;
    padding-bottom: 5%;
   }

   .resume-link {
    
   }

   #contactme h2{
    text-align: center;
    margin-left: 10px;

   }

   .contact-content {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 260px;
   }